/* Colors */
/* Fonts */
#teamstatter {
  margin-top: 50px;
  color: black;
  font-size: 3em;
  font-family: "Russo One", Helvetica, Arial, sans-serif;
  text-align: center;
}
@media (min-width: 768px) {
  #teamstatter {
    font-size: 5em;
    margin-top: 100px;
  }
}
#slogan {
  color: black;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  #slogan {
    font-size: 1.5em;
  }
}
#logo {
  display: block;
  width: 100px;
  height: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  #logo {
    width: 120px;
  }
}
::selection {
  background: #ffc107;
  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ffc107;
  /* Gecko Browsers */
}
#summonerInfo {
  display: block;
  margin: 10px auto 10px auto;
  padding: 0;
  width: 290px;
}
#summonerInfo #region {
  width: 80px;
  height: 40px;
  background-color: white;
  color: black;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #ffc107;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  text-indent: 5px;
}
#summonerInfo #region:hover {
  border-bottom-color: #ffa000;
}
#summonerInfo #summonerName {
  width: 200px;
  height: 40px;
  background-color: white;
  background: none;
  border-style: none;
  margin-right: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #ffc107;
  font-size: 1.4em;
  color: black;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: left;
  outline: none;
  padding-left: 5px;
}
#summonerInfo #summonerName:hover {
  border-bottom-color: #ffa000;
}
@media (min-width: 768px) {
  #summonerInfo {
    width: 600px;
  }
  #summonerInfo #region {
    width: 160px;
    height: 80px;
    font-size: 2.6em;
    border-bottom-width: 5px;
  }
  #summonerInfo #summonerName {
    width: 400px;
    height: 80px;
    font-size: 2.6em;
    margin-right: 10px;
    border-bottom-width: 5px;
  }
}
#enterSummoner {
  display: block;
  margin: 10px auto 10px auto;
  width: 100px;
  height: 40px;
  border-style: none;
  background-color: #ffc107;
  color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.1em;
  outline: none;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}
@media (min-width: 768px) {
  #enterSummoner {
    margin: 20px auto 20px auto;
    width: 200px;
    height: 60px;
    font-size: 1.8em;
  }
}
#enterSummoner:hover {
  background-color: #ffa000;
}
footer p {
  position: fixed;
  bottom: 0;
  left: 15px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: black;
}
footer p #creator,
footer p #legal,
footer p #docs {
  color: #ffc107;
}
footer p #creator:hover,
footer p #legal:hover,
footer p #docs:hover {
  text-decoration: none;
  color: #ffa000;
}
@media (min-width: 768px) {
  footer p {
    font-size: 1.2em;
  }
}
#teamListTitle {
  color: black;
  margin-top: 50px;
  display: block;
  font-size: 2em;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
}
@media (min-width: 768px) {
  #teamListTitle {
    font-size: 3em;
    margin-top: 100px;
  }
}
.team-btn {
  height: 40px;
  width: 245px;
  margin: 30px auto 30px auto;
  border-style: none;
  display: block;
  background-color: #ffc107;
  color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  outline: none;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}
@media (min-width: 768px) {
  .team-btn {
    font-size: 2em;
    height: 60px;
    width: 400px;
  }
}
.team-btn:hover {
  background-color: #ffa000;
}
#statstuff {
  text-align: center;
}
#stat {
  width: 200px;
  height: 40px;
  background-color: white;
  color: black;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #ffc107;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  text-align: center;
  outline: none;
  -webkit-appearance: none;
  border-radius: 0;
  text-indent: 5px;
}
@media (min-width: 768px) {
  #stat {
    width: 300px;
    height: 50px;
    font-size: 1.8em;
  }
}
#stat:hover {
  color: #ffc107;
  border-bottom-color: #ffa000;
}
#stat:focus {
  color: black;
}
#chartContainer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  #chartContainer {
    max-width: 600px;
  }
}
@media screen and (min-width: 992px) {
  #chartContainer {
    max-width: 800px;
  }
}
@media screen and (min-width: 1200px) {
  #chartContainer {
    max-width: 1000px;
  }
}
#error {
  color: orangered;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;
}
#back-btn {
  position: fixed;
  top: 0px;
  left: 0px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 1.4em;
  padding-top: 5px;
  height: 40px;
  width: 80px;
  text-align: center;
  background-color: white;
  color: #ffc107;
  border-style: none;
  border-bottom-style: solid;
  border-bottom-color: #ffc107;
  border-bottom-width: 3px;
  padding-bottom: 5px;
  border-right-style: solid;
  border-right-color: #ffc107;
  border-right-width: 3px;
  padding-right: 5px;
  text-decoration: none;
}
#back-btn:hover {
  color: white;
  background-color: #ffc107;
}
#teamName {
  color: black;
  margin-top: 50px;
  display: block;
  font-size: 2em;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: center;
}
@media (min-width: 768px) {
  #teamName {
    font-size: 3em;
  }
}
.teamMember {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 5px;
  font-size: 1em;
  width: 130px;
  height: 30px;
  color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
  outline: none;
  display: block;
  border-style: none;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}
@media screen and (min-width: 768px) {
  .teamMember {
    width: 140px;
    height: 40px;
    padding-top: 3px;
  }
}
.teamMember:hover {
  opacity: .7;
}
#average {
  margin-left: 20px;
  width: 60px;
  height: 25px;
  border-style: none;
  background-color: #ffc107;
  color: white;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: .8em;
  outline: none;
  opacity: 0.4;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.75);
}
@media (min-width: 768px) {
  #average {
    margin-left: 20px;
    width: 80px;
    height: 30px;
    font-size: 1em;
  }
}
#average:hover {
  opacity: .7;
}
.modal-content {
  padding: 10px 10px 10px 10px;
  margin: 115px 10px 10px 10px;
}
.modal-content p {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 1.2em;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-15 {
  width: 20%;
  float: left;
}
@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}
