@import "variables.scss";

#pageContent, html{
  background-color: #453d3f;
  text-align: center;

  header{
    background-color: $brand-dull;
    height: 50px;

    #logo{
      margin-top: 5px;
      color: white;
      font-size: 1.5em;
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
      text-align: left;
      margin-bottom: 0px;

    }
    #slogan {
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
      color:white;
      font-size: 1em;
      text-align: left;
    }
  }


  #summonerForm{
    margin-top: 20px;
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-size: 20px;

    #region {
      background: $brand;
      width: 60px;
      height: 40px;
      font-size: 14px;
      line-height: 1.5;
      border: 0;
      border-radius: 5px;
      color:white;
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
    }

    #summoner{
      height: 40px;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      border-style: none;
      background-color: #222222;
      color: white;


      }
    #enterSummoner{
      background-color: $brand;
      height: 40px;
      width: 40px;
      text-align: center;
      border-radius: 5px;
      border-style: none;
      color: white;
    }

    #enterSummoner:hover{
      background-color: $brand-dull;
    }
  }


  footer {
    padding-top: 10px;
    height: 25px;
    background-color: #453d3f;



      a{
        background-color: #d17905;
        width: 100px;
        p{
          font-family: "PT Serif", Helvetica, Arial, sans-serif;
          color: #dddddd;
        }
      }

      a:hover {
        p{
          color: $brand-dull;
        }
      }


    button{
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
      color: #dddddd;
      background-color: #453d3f;
      text-align: center;
      width: 100px;
      border-style: none;
    }

    button:hover {
      color: $brand-dull;
    }

  }


  .team {
    button {
      margin-top: 15px;
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
      font-size: 20px;
      height: 40px;
      width: 245px;
      background-color: $brand;
      color: white;
      text-align: center;
      border-radius: 5px;
      border-style: none;
    }

    button:hover{
      background-color: $brand-dull;
    }
  }
}


#stat {
  background: $brand;
  width: 260px;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5;
  border: 0;
  border-radius: 5px;
  height: 34px;
  color:white;
  font-family: "PT Serif", Helvetica, Arial, sans-serif;
}

#chartContainer {
  #chart {
    height: 360px;
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    #chart{
      width: 400px;
      height: 300px;
    }
  }

  @media screen and (min-width: 992px) {
    #chart{
      width: 600px;
      height: 450px;
    }
  }

  @media screen and (min-width: 1200px) {
    #chart{
      width: 800px;
      height: 600px;
    }
  }
}

.checkbox {

  input{
  }

  p{
    display:inline;
    color: white;
    font-family: "PT Serif", Helvetica, Arial, sans-serif;

  }
}
#teamTotal{
  margin-top: 10px;
}



#error {
  color: orangered;
  font-family: "PT Serif", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;

}

#back-btn {
  background-color: $brand;
  height: 30px;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  color: white;
  margin-top: 5px;
}
#back-btn:hover {
  background-color: $brand-dull;
}

#teamName {
  color: white;
  margin-bottom: 10px;
  font-family: "PT Serif", Helvetica, Arial, sans-serif;

}

.legend-color {
  padding: 5px;
  font-size: .8em;
  color:white;
  font-family: "PT Serif", Helvetica, Arial, sans-serif;

}




.modal-content{
  padding: 10px 10px 10px 10px;
  margin: 115px 10px 10px 10px;

  p{
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    line-height: 1.2em;
  }
}