@import "variables.scss";

body{
  background-image: url(../img/background2.jpg);
  text-align: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;

  header {
    margin-top: 10%;

    #logo {
      margin-top: 5px;
      color: white;
      font-size: 3em;
      @media screen and (min-width: 768px) {
        font-size: 4em;
      }
        font-family: "PT Serif", Helvetica, Arial, sans-serif;
      text-align: center;
      margin-bottom: 0px;

    }
    #slogan {
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
      color: white;
      font-size: 1em;
      @media screen and (min-width: 768px) {
        font-size: 1.2em;
      }
        text-align: center;
    }
  }


  #summonerForm{
    margin-top: 5px;
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-size: 20px;

    #region {
      background: $brand;
      width: 60px;
      height: 40px;
      font-size: 14px;
      line-height: 1.5;
      border: 0;
      border-radius: 5px;
      color:white;
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
    }

    #summoner{
      height: 40px;
      width: 160px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      border-style: none;
      background-color: #222222;
      color: white;
      font-size: .9em;
      @media screen and (min-width: 768px) {
        width: 200px;
        font-size: 1em;
      }


      }
    #enterSummoner{
      background-color: $brand;
      height: 40px;
      width: 40px;
      text-align: center;
      border-radius: 5px;
      border-style: none;
      color: white;
    }

    #enterSummoner:hover{
      background-color: $brand-dull;
    }
  }


  footer {

      #creator{
        width: 100px;
        left: 30%;
        position: fixed;
        bottom: 0;

        p{
          font-family: "PT Serif", Helvetica, Arial, sans-serif;
          color: #dddddd;
          text-align: left;
        }
      }

      #creator:hover {
        p{
          color: $brand-dull;
        }
      }


    #legal{
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
      color: #dddddd;
      width: 100px;
      border-style: none;
      position: fixed;
      bottom: 0;
      right: 30%;
      margin-bottom: 10px;
      text-align: right;

    }

    #legal:hover {
      color: $brand-dull;
    }

  }


  .team {
    button {
      margin-top: 15px;
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
      font-size: 20px;
      height: 40px;
      width: 245px;
      background-color: $brand;
      color: white;
      text-align: center;
      border-radius: 5px;
      border-style: none;
    }

    button:hover{
      background-color: $brand-dull;
    }
  }
}


#stat {
  background: $brand;
  width: 220px;
  padding: 5px;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  border: 0;
  border-radius: 5px;
  height: 34px;
  color:white;
  font-family: "PT Serif", Helvetica, Arial, sans-serif;
}

#chartContainer {
  #chart {
    height: 360px;
    width: 280px;
  }

  @media screen and (min-width: 768px) {
    #chart{
      width: 400px;
      height: 300px;
    }
  }

  @media screen and (min-width: 992px) {
    #chart{
      width: 600px;
      height: 450px;
    }
  }

  @media screen and (min-width: 1200px) {
    #chart{
      width: 800px;
      height: 600px;
    }
  }
}

.checkbox {

  input{
  }

  p{
    display:inline;
    color: white;
    font-family: "PT Serif", Helvetica, Arial, sans-serif;

  }
}

#error {
  color: orangered;
  font-family: "PT Serif", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 15px;

}

#back-btn {
  background-color: $brand;
  height: 30px;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  color: white;
  margin-top: 5px;
}
#back-btn:hover {
  background-color: $brand-dull;
}

#teamName {
  color: white;
  margin-bottom: 10px;
  font-family: "PT Serif", Helvetica, Arial, sans-serif;

}

.legend-color {
  padding: 5px;
  font-size: .8em;
  color:white;
  font-family: "PT Serif", Helvetica, Arial, sans-serif;

}




.modal-content{
  padding: 10px 10px 10px 10px;
  margin: 115px 10px 10px 10px;

  p{
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    line-height: 1.2em;
  }
}