/* Colors */
#pageContent, html {
  background-color: #453d3f;
  text-align: center; }
  #pageContent header, html header {
    background-color: #78132C;
    height: 50px; }
    #pageContent header #logo, html header #logo {
      margin-top: 5px;
      color: white;
      font-size: 1.5em;
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
      text-align: left;
      margin-bottom: 0px; }
    #pageContent header #slogan, html header #slogan {
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
      color: white;
      font-size: 1em;
      text-align: left; }
  #pageContent #summonerForm, html #summonerForm {
    margin-top: 20px;
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-size: 20px; }
    #pageContent #summonerForm #region, html #summonerForm #region {
      background: #A03550;
      width: 60px;
      height: 40px;
      font-size: 14px;
      line-height: 1.5;
      border: 0;
      border-radius: 5px;
      color: white;
      font-family: "PT Serif", Helvetica, Arial, sans-serif; }
    #pageContent #summonerForm #summoner, html #summonerForm #summoner {
      height: 40px;
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      border-radius: 5px;
      border-style: none;
      background-color: #222222;
      color: white; }
    #pageContent #summonerForm #enterSummoner, html #summonerForm #enterSummoner {
      background-color: #A03550;
      height: 40px;
      width: 40px;
      text-align: center;
      border-radius: 5px;
      border-style: none;
      color: white; }
    #pageContent #summonerForm #enterSummoner:hover, html #summonerForm #enterSummoner:hover {
      background-color: #78132C; }
  #pageContent footer, html footer {
    padding-top: 10px;
    height: 25px;
    background-color: #453d3f; }
    #pageContent footer a, html footer a {
      background-color: #d17905;
      width: 100px; }
      #pageContent footer a p, html footer a p {
        font-family: "PT Serif", Helvetica, Arial, sans-serif;
        color: #dddddd; }
    #pageContent footer a:hover p, html footer a:hover p {
      color: #78132C; }
    #pageContent footer button, html footer button {
      font-family: "PT Serif", Helvetica, Arial, sans-serif;
      color: #dddddd;
      background-color: #453d3f;
      text-align: center;
      width: 100px;
      border-style: none; }
    #pageContent footer button:hover, html footer button:hover {
      color: #78132C; }
  #pageContent .team button, html .team button {
    margin-top: 15px;
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    font-size: 20px;
    height: 40px;
    width: 245px;
    background-color: #A03550;
    color: white;
    text-align: center;
    border-radius: 5px;
    border-style: none; }
  #pageContent .team button:hover, html .team button:hover {
    background-color: #78132C; }

#stat {
  background: #A03550;
  width: 260px;
  padding: 5px;
  font-size: 14px;
  line-height: 1.5;
  border: 0;
  border-radius: 5px;
  height: 34px;
  color: white;
  font-family: "PT Serif", Helvetica, Arial, sans-serif; }

#chartContainer #chart {
  height: 360px;
  width: 280px; }
@media screen and (min-width: 768px) {
  #chartContainer #chart {
    width: 400px;
    height: 300px; } }
@media screen and (min-width: 992px) {
  #chartContainer #chart {
    width: 600px;
    height: 450px; } }
@media screen and (min-width: 1200px) {
  #chartContainer #chart {
    width: 800px;
    height: 600px; } }

.checkbox p {
  display: inline;
  color: white;
  font-family: "PT Serif", Helvetica, Arial, sans-serif; }

#teamTotal {
  margin-top: 10px; }

#error {
  color: orangered;
  font-family: "PT Serif", Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  margin-top: 15px; }

#back-btn {
  background-color: #A03550;
  height: 30px;
  width: 60px;
  text-align: center;
  border-radius: 5px;
  border-style: none;
  color: white;
  margin-top: 5px; }

#back-btn:hover {
  background-color: #78132C; }

#teamName {
  color: white;
  margin-bottom: 10px;
  font-family: "PT Serif", Helvetica, Arial, sans-serif; }

.legend-color {
  padding: 5px;
  font-size: .8em;
  color: white;
  font-family: "PT Serif", Helvetica, Arial, sans-serif; }

.modal-content {
  padding: 10px 10px 10px 10px;
  margin: 115px 10px 10px 10px; }
  .modal-content p {
    font-family: "PT Serif", Helvetica, Arial, sans-serif;
    line-height: 1.2em; }

/*# sourceMappingURL=index.css.map */
