<div ng-controller="ChartController as ChartCtrl">
    <h4 id="teamName">{{ChartCtrl.selectedTeam.name}}</h4>
    <form id="statstuff">
        <button style="display: inline" type="button" id="tooltip" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" >?</button>
        <select style="display: inline" ng-model="selectedStat" ng-init="selectedStat = ChartCtrl.statNameList[0]" ng-change="ChartCtrl.makeChart(selectedStat, ChartCtrl.team, true)" id="stat" ng-options="statName for statName in ChartCtrl.statNameList"></select>
        <button id="average" style="display: inline;" ng-init="ChartCtrl.average = false" ng-click="ChartCtrl.toggleAverage();ChartCtrl.makeChart(selectedStat, ChartCtrl.team, true);">Average</button>
    </form>

    <div id="chartContainer">
        <canvas id="chart"></canvas>
    </div>
    <a href="#/teams">
        <div id="back-btn">Back</div>
    </a>

    <div class="container">
        <div class="row">
            <div class="col-sm-15 col-xs-12" ng-repeat="member in ChartCtrl.team.members">
                <button ng-attr-id="{{ member.summonerId }}" class="teamMember" ng-click="ChartCtrl.toggleData(member, selectedStat)" ng-style="{
                                            'background-image': '-webkit-linear-gradient('+member.color+', '+member.darkColor+')',
                                            'background-image': '-o-linear-gradient('+member.color+', '+member.darkColor+')',
                                            'background-image': '-moz-linear-gradient('+member.color+', '+member.darkColor+')',
                                            'background-image': 'linear-gradient('+member.color+', '+member.darkColor+')'}">
                    {{member.summonerName}}
                </button>
            </div>
        </div>
    </div>

</div>
