<div ng-controller="SearchController as SearchCtrl">
    <h1 id="teamstatter">Presidential Twitter</h1>
    <p id="slogan">What are the candidates talking about today?</p>
    <p id="error" ng-if="error">{{error}}</p>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <h3>Republican</h3>
                <a class="twitter-timeline" href="https://twitter.com/realDonaldTrump">Tweets by realDonaldTrump</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
            <div class="col-xs-3">
                <h3>Democrat</h3>
                <a class="twitter-timeline" href="https://twitter.com/HillaryClinton">Tweets by HillaryClinton</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>        </div>
            <div class="col-xs-3">
                <h3>Libertarian</h3>
                <a class="twitter-timeline" href="https://twitter.com/GovGaryJohnson">Tweets by GovGaryJohnson</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>        </div>
            <div class="col-xs-3">
                <h3>Green Party</h3>
                <a class="twitter-timeline" href="https://twitter.com/DrJillStein">Tweets by DrJillStein</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
        </div>
    </div>
    <footer>
        <p>Created by <a id="creator" href="https://twitter.com/jcaudill74">Jordan Caudill
    </footer>

</div>
